 <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <h2>Admin</h2>
      <a href="Dashboard.html" class="active">🏠 Dashboard</a>
      <a href="users.html" class="active">👥 Users</a>
      <a href="notify.html" class="active">📣 Notify</a>
      <a href="project.html" class="active">🏗️ Projects</a>
      <a href="approvals.html" class="active">📝 Approvals</a>
      <a href="reports.html" class="active">📊 Reports</a>
      <a href="settings.html" class="active">⚙️ Settings</a>
      <button onclick="logout()" class="btn-logout-sidebar">🚪 Logout</button>
    </div>
